@use '../abstract/media' as *;


.explore-top-filters {
  display: flex;
  gap: 1rem;

  @include respond-phone {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    button {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  @include respond-tablet {
    flex-wrap: wrap;

    button {
      flex: 1 1 calc(50% - 0.5rem);
    }
  }
}
