@use '../abstract/media' as *;

.explore-tabs {
  display: flex;
  gap: 16px;
  margin-top: 8px;

  .tab-button {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #f2f2f2;
      color: #e03; // đỏ như Foody
    }

    &.active {
      border: 1px solid #e03;
      background-color: #fff0f0;
      color: #e03;
    }
  }

  @include respond-phone {
    gap: 8px;

    .tab-button {
      font-size: 13px;
      padding: 6px 10px;
    }
  }
}