@use './abstract/media' as *;
@use './abstract/variables';
@use './base/reset';
@use './base/globals';
@use './components/FoodList';
@use './components/RestaurantCard';
@use './components/explore';
@use './components/ExploreTabs';
@use './components/ExploreTopFilters';
@use './components/SectionHeader';
@use './components/ExploreFilters';

.food-list {
  display: flex;
  gap: 1rem;

  @include respond-phone {
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding-bottom: 0.5rem;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 4px;
    }

    button {
      white-space: nowrap;
      padding: 0.4rem 0.75rem;
      font-size: 0.9rem;
      flex-shrink: 0;
    }
  }
}