@use '../styles/abstract/media' as *;



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.explore-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);

  @include respond-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-phone {
    grid-template-columns: 1fr;
  }
}

.restaurant-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);

  @include respond-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-phone {
    grid-template-columns: 1fr;
  }
}
